
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Rubik', sans-serif;
}

$ligth: #ffffff;
$gray: #c4ccde;

.flex {
    display: flex;
}
.navbar{
    color: white;
    background-color: #34495E;
    padding: 1rem 2rem;
    border-bottom: 1px solid $gray;
}

.imagen{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.sidebar{
    background-color: #3498DB;
    width: 16rem;
    height: calc(130vh - 52px);
    border-right: 1px solid $gray;
    ul{
        list-style: none;
        padding: 1rem 2rem;
        li{
            margin-bottom: 1rem;
         a{
             text-decoration: none;
             &.active{
                 background-color: #2980B9;
             }
         }
        }
    }
}